.parent_header{
    width: 1024px;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.parent_header img{
    width: 100px;
}

.menu{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-evenly;
}

.menu a{
    font-family: "Oswald", sans-serif;
    color: #c4a47c;
    box-shadow: 3px 5px 2px #000000;
    font-size: 18px;    
    text-decoration: none;
    letter-spacing: 2px;
    text-decoration: none;
}

@media (max-width: 400px){
    .parent_header{
        width: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .menu{
        display: flex;
        flex-direction: column;
    }


}